.table-con.MuiTableContainer-root {
   background-color: #A9B4BE;
   border-radius: 0px;
}
.coll-table.MuiTableCell-root{
    border-bottom: 0px;
}
.grid-2.MuiGrid2-root{
    margin:auto;
}
.item-coll.MuiPaper-root{
    background-color: #D5DADD;
}
.appbar.MuiAppBar-root{
    background-color: #223548;
}