.table-con.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
   background-color: #A9B4BE;
   border-radius: 0px;
}
.coll-table.css-1ex1afd-MuiTableCell-root{
    border-bottom: 0px;
}
.grid-2.css-x3vexg-MuiGrid2-root{
    margin:auto;
}
.item-coll.css-1633um2-MuiPaper-root{
    background-color: #D5DADD;
}
.appbar.css-hip9hq-MuiPaper-root-MuiAppBar-root{
    background-color: #223548;
}