.container{
    width: auto;
    text-align: center;
    margin: auto;
    height: 100vh;
  }
h1{
    margin: 2vh;
    font-family:'Courier New', Courier, monospace;
    text-shadow: 0.404vw 0 #232931;
    font-size: 3.812vw;
    color: #4ecca3;
    text-align: center;
}
h3{
    margin:0px;
    color:darkgreen;
    font-size: 2.229vw;
}

p {
    font-size: 2vw;
    color: #4ecca3;
    font-family: "Indie Flower";
    align-items: left;
    padding: 0.404vw;
    
}

.player1{
    max-width: 13ch;
    overflow: hidden;
    white-space: nowrap;
}

.player2{
    max-width: 13ch;
    overflow: hidden;
    white-space: nowrap;
}


.img1 {
    width: 4.036vw;
    margin: 2.583vw 0px;
}

.dice1gif{
    width: 20.181vw;
    margin: 2.583vw 0px;
}
.img2 {
    width: 4.036vw;
    margin: 2.583vw 0px;
}

.dice{
    display : grid;
    /* border: 2px solid #000000; */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 12.072vh);
    height: 56.362vh;
    align-items: center;
    width: 50%;
}

.flex-container {
    display : flex;
    flex-flow: row;
    margin-Left:1vw;
    margin-right:1vw;
}

.btn{
    background-color: darkgreen;
    font-family: "Indie Flower";
    border-radius: 0.565vw;
    font-size: 2vw;
    /* padding: 16px 25px 16px 25px; */
    text-decoration: none;
    margin: 1.2vw 0px;
}

body {
    background-color: #042f4b;
    margin: 0;
}

.btn:hover {
    background: #232931;
    text-decoration: none;
}

.popup{
    width: 90vw;
    height:90vh;
    background:#232931;
    border-radius: 0.484vw;
    position: absolute;
    top: 0%;
    margin: 2vw;
    /* left: 50%; */
    /* transform: translate(-50%,-50%) scale(0.1); */
    text-align: center;
    padding: 0 2.422vw 2.422vw;
    color:darkgreen;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    /* transform: translate(-50%,-50%) scale(1); */
    /* top: 50%; */
    /* width: 80%;
    height: 90%; */ 
}
h2{
    font-size: 10.333vw;
    margin-bottom: 0;
}

.name {
    display : inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.807vw;
}
.edit {
    width: 2.422vw;
    height: 2.422vw;
    
}
.resetbtn{
    margin: 1vh 0;
}
.containerZoom{
    /* border: 3px solid black; */
    width: 25.832rem;
    text-align: center;
    margin: auto;
  }
.h1Zoom{
    margin: 0.301rem;
    font-family:'Courier New', Courier, monospace;
    text-shadow: 0.105rem 0 #232931;
    font-size: 1rem;
    color: #4ecca3;
    text-align: center;
}

.h3Zoom{
    margin:0px;
    color:darkgreen;
    font-size: 0.584rem;
}

.pZoom {
    font-size: 0.524rem;
    color: #4ecca3;
    font-family: "Indie Flower";
    align-items: left;
    padding: 5px;
    
}

.player1Zoom{
    max-width: 13ch;
    overflow: hidden;
    white-space: nowrap;
}

.player2Zoom{
    max-width: 13ch;
    overflow: hidden;
    white-space: nowrap;
}


.img1Zoom {
    width: 1.058rem;
    margin: 0.677rem 0px;
}

.dice1gifZoom{
    width: 5.294rem;
    margin: 0.677rem 0px;
}
.img2Zoom {
    width: 1.058rem;
    margin: 0.677rem 0px;
}

.diceZoom{
    display : grid;
    /* border: 2px solid #000000; */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1.82rem);
    height: 8.499rem;
    align-items: center;
    width: 12.654rem;
}

.flex-containerZoom {
    display : flex;
    flex-flow: row;
    margin-Left:0.262rem;
    margin-right:0.262rem;
}

.btnZoom{
    background-color: darkgreen;
    font-family: "Indie Flower";
    border-radius: 0.148rem;
    font-size: 0.524rem;
    /* padding: 16px 25px 16px 25px; */
    text-decoration: none;
    margin: 0.314rem 0px;
}

.bodyZoom {
    background-color: #042f4b;
    margin: 0;
}

.btn:hover {
    background: #232931;
    text-decoration: none;
}

.popupZoom{
    width: 23.609rem;
    height: 13.572rem;
    margin: 0.524rem;
    background:#232931;
    border-radius: 0.126rem;
    position: absolute;
    top: 0%;
    /* left: 12.916rem; */
    /* transform: translate(-50%,-50%) scale(0.1); */
    text-align: center;
    padding: 0 0.635rem 0.635rem;
    color:darkgreen;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popupZoom{
    visibility: visible;
    /* transform: translate(-50%,-50%) scale(1); */
    /* top: 50%;
    width: 80%;
    height: 90%; */
}
.h2Zoom{
    font-size: 2.710rem;
    margin-bottom: 0;
}

.nameZoom {
    display : inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.211rem;
    font-size: 1rem;
}
.editZoom {
    width: 0.635rem;
    height: 0.635rem;
    
}

@media (max-device-width: 760px) {
    

.container{
    width: auto;
    text-align: center;
    margin: auto;
    height: 100vh;
  }
h1{
    margin: 2vh;
    font-family:'Courier New', Courier, monospace;
    text-shadow: 0.404vw 0 #232931;
    font-size: clamp(7vw,3.812vw,0vw);
    
    color: #4ecca3;
    text-align: center;
}
.tet{
    font-size: 500.3919px;
}
h3{
    margin:0px;
    color:darkgreen;
    font-size: clamp(5vw,2.229vw, 0vw);
}

p {
    font-size: clamp(5.5vw,2vw,0vw);
    color: #4ecca3;
    font-family: "Indie Flower";
    align-items: left;
    padding: 0.404vw;
    
}

.player1{
    max-width: 13ch;
    overflow: hidden;
    white-space: nowrap;
}

.player2{
    max-width: 13ch;
    overflow: hidden;
    white-space: nowrap;
}


.img1 {
    width: clamp(6vw,4.036vw,0vw);
    margin: 2.583vw 0px;
}

.dice1gif{
    width: clamp(24vw,20.181vw,0vw);
    margin: 2.583vw 0px;
}
.img2 {
    width: clamp(6vw,4.036vw,0vw);
    margin: 2.583vw 0px;
}

.dice{
    display : grid;
    /* border: 2px solid #000000; */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 12.072vh);
    height: 56.362vh;
    align-items: center;
    width: 50%;
}

.flex-container {
    display : flex;
    flex-flow: row;
    margin-Left:1vw;
    margin-right:1vw;
}

.btn{
    background-color: darkgreen;
    font-family: "Indie Flower";
    border-radius: 0.565vw;
    font-size: clamp(4vw,2vw,0vw);
    /* padding: 16px 25px 16px 25px; */
    text-decoration: none;
    margin: 1.2vw 0px;
}

body {
    background-color: #042f4b;
    margin: 0;
}

.btn:hover {
    background: #232931;
    text-decoration: none;
}

.popup{
    width: 90vw;
    height: 90vh;
    background:#232931;
    border-radius: 0.484vw;
    position: absolute;
    top: 0%;
    /* left: 50%; */
    /* transform: translate(-50%,-50%) scale(1); */
    text-align: center;
    padding: 0 2.422vw 2.422vw;
    color:darkgreen;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    /* top: 50%;
    transform: translate(-50%,-50%) scale(1);
    width: 80%;
    height: 90%; */
}
h2{
    font-size: 10.333vw;
    margin-bottom: 0;
}

.name {
    display : inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.807vw;
}
.edit {
    width: 2.422vw;
    height: 2.422vw;
    
}
.resetbtn{
    margin: 1vh 0;
}
.containerZoom{
    /* border: 3px solid black; */
    width: 25.832rem;
    text-align: center;
    margin: auto;
  }
.h1Zoom{
    margin: 0.301rem;
    font-family:'Courier New', Courier, monospace;
    text-shadow: 0.105rem 0 #232931;
    font-size: 1rem;
    color: #4ecca3;
    text-align: center;
}

.h3Zoom{
    margin:0px;
    color:darkgreen;
    font-size: 0.584rem;
}

.pZoom {
    font-size: 0.524rem;
    color: #4ecca3;
    font-family: "Indie Flower";
    align-items: left;
    padding: 5px;
    
}

.player1Zoom{
    max-width: 13ch;
    overflow: hidden;
    white-space: nowrap;
}

.player2Zoom{
    max-width: 13ch;
    overflow: hidden;
    white-space: nowrap;
}


.img1Zoom {
    width: 1.058rem;
    margin: 0.677rem 0px;
}

.dice1gifZoom{
    width: 5.294rem;
    margin: 0.677rem 0px;
}
.img2Zoom {
    width: 1.058rem;
    margin: 0.677rem 0px;
}

.diceZoom{
    display : grid;
    /* border: 2px solid #000000; */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1.82rem);
    height: 8.499rem;
    align-items: center;
    width: 12.654rem;
}

.flex-containerZoom {
    display : flex;
    flex-flow: row;
    margin-Left:0.262rem;
    margin-right:0.262rem;
}

.btnZoom{
    background-color: darkgreen;
    font-family: "Indie Flower";
    border-radius: 0.148rem;
    font-size: 0.524rem;
    /* padding: 16px 25px 16px 25px; */
    text-decoration: none;
    margin: 0.314rem 0px;
}

.bodyZoom {
    background-color: #042f4b;
    margin: 0;
}

.btn:hover {
    background: #232931;
    text-decoration: none;
}

.popupZoom{
    width: 23.609rem;
    height: 13.572rem;
    margin: 0.524rem;
    background:#232931;
    border-radius: 0.126rem;
    position: absolute;
    top: 0%;
    /* left: 12.916rem; */
    /* transform: translate(-50%,-50%) scale(0.1); */
    text-align: center;
    padding: 0 0.635rem 0.635rem;
    color:darkgreen;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popupZoom{
    visibility: visible;
    /* transform: translate(-50%,-50%) scale(1); */
    /* top: 50%;
    width: 80%;
    height: 90%; */
}
.h2Zoom{
    font-size: 2.710rem;
    margin-bottom: 0;
}

.nameZoom {
    display : inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.211rem;
    font-size: 1rem;
}
.editZoom {
    width: 0.635rem;
    height: 0.635rem;
    
}

}

/* .container{
    border: 3px solid black;
    width: auto;
    text-align: center;
    margin: auto;
  }
h1{
    margin: 30px;
    font-family: "Lobster", cursive;
    text-shadow: 5px 0 #232931;
    font-size: 4.5rem;
    color: #4ecca3;
    text-align: center;
}
.tet{
    font-size: 48px;
}

h3{
    margin:0px;
    color:darkgreen;
    font-size: 2.5rem;
}

p {
    font-size: 2rem;
    color: #4ecca3;
    font-family: "Indie Flower", cursive;
    align-items: left;
    padding: 5px;
    
}

.player1{
    max-width: 13ch;
    overflow: hidden;
    white-space: nowrap;
}

.player2{
    max-width: 13ch;
    overflow: hidden;
    white-space: nowrap;
}


.img1 {
    width: 50px;
    margin: 32px 0px;
}

.dice1gif{
    width: 250px;
    margin: 32px 0px;
}
.img2 {
    width: 50px;
    margin: 32px 0px;
}

.dice{
    display : grid;
    /* border: 2px solid #000000; *//*
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 100px);
    height: 500px;
    align-items: center;
    width: 50%;
}

.flex-container {
    display : flex;
    flex-flow: row;
    margin-Left:10%;
    margin-right:10%;
}

.btn{
    background-color: darkgreen;
    font-family: "Indie Flower", cursive;
    border-radius: 7px;
    font-size: 30px;
    /* padding: 16px 25px 16px 25px; *//*
    text-decoration: none;
    margin: 32px 0px;
}

body {
    background-color: #042f4b;
    margin: 0;
}

.btn:hover {
    background: #232931;
    text-decoration: none;
}

.popup{
    width: 400px;
    background:#232931;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color:darkgreen;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    width: 80%;
    height: 90%;
}
h2{
    font-size: 8rem;
    margin-bottom: 0;
}

.name {
    display : inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.edit {
    width: 30x;
    height: 30px;
    
}

@media screen and (max-width: 1170px) {
    .popup{ visibility: hidden;
    top: 50%;
    transform: translate(-50%,-50%) scale(1);
    width: 80%;
    height: 90%;}
    h2{
        font-size: 10vw;
    }
}

@media screen and (max-width: 780px){
    .flex-container {
        margin-Left:2%;
        margin-right:2%;
    }
}

@media screen and (max-width: 670px) {

    p {
        font-size: 1.5rem;
        color: #4ecca3;
        font-family: "Indie Flower", cursive;
        align-items: left;
        padding: 5px;
        /* max-width: 10ch; *//*
    }   
    
} 
@media screen and (max-width: 512px) {
    p{
        font-size: 1rem;
    }
    .btn{
        background-color: darkgreen;
        font-family: "Indie Flower", cursive;
        border-radius: 7px;
        font-size: 20px;
        /* padding: 16px 25px 16px 25px; *//*
        text-decoration: none;
        margin: 32px 0px;
    }
    h1{
        font-size: 3.5rem;
    }   
}
 
@media screen and (max-width: 375px) {
   
    p{
        font-size: 0.7rem;
    }
    h1{
        margin: 30px;
        font-family: "Lobster", cursive;
        text-shadow: 5px 0 #232931;
        font-size: 2.5rem;
        color: #4ecca3;
        text-align: center;
    }
    h3{
        font-size: 1.5rem;
    } 
    .btn{
        font-size: 15px;
    }  
}

@media screen and (max-width: 320px) {
   
    p{
        font-size: 0.6rem;
    }
}

@media screen and (max-height: 641px){
    h1{
        font-size: 3rem;
        margin: 10px 0;
    }
    h3{
        font-size: 1.5rem;
    }
    .dice{
        grid-template-rows: repeat(5, 80px);
        height: 380px;
    }
    #playbtn{
        margin: 10px 0;
    }

    .resetbtn{
       margin: 10px 0;
    }
    .btn{
        font-size: 2.5vw;
    }
} */

/* @media screen and (max-height: 720px) {
    .container{
        width: auto;
        text-align: center;
        margin: auto;
      }
    h1{
        margin: 1vw;
        font-family: "Lobster", cursive;
        text-shadow: 0.404vw 0 #232931;
        font-size: 100vh;
        font-size: 3.812vw;
        
        color: #4ecca3;
        text-align: center;
    }
    h3{
        margin:0px;
        color:darkgreen;
        font-size: 2.229vw;
    }
    
    p {
        font-size: 2.583vw;
        color: #4ecca3;
        font-family: "Indie Flower", cursive;
        align-items: left;
        padding: 0.404vw;
        
    }
    .edit {
        width: 2.422vw;
        height: 2.422vw;
        margin-bottom:2vw;
        margin-top:0;
        
    }
    
    .player1{
        max-width: 13ch;
        overflow: hidden;
        white-space: nowrap;
        margin-top: 0;
    }
    
    .player2{
        max-width: 13ch;
        overflow: hidden;
        white-space: nowrap;
        margin-top: 0;
    }
    
    
    .img1 {
        width: 4.036vw;
        margin: 2.583vw 0px;
    }
    
    .dice1gif{
        width: 20.181vw;
        margin: 2.583vw 0px;
    }
    .img2 {
        width: 4.036vw;
        margin: 2.583vw 0px;
    }
    
    .dice{
        display : grid;
        /* border: 2px solid #000000; *//*
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 5.8vw);
        height: 26.362vw;
        align-items: center;
        width: 50%;
    }
    
    .flex-container {
        display : flex;
        flex-flow: row;
        margin-Left:10%;
        margin-right:10%;
    }
    
    .btn{
        background-color: darkgreen;
        font-family: "Indie Flower", cursive;
        border-radius: 0.565vw;
        font-size: 2.422vw;
        /* padding: 16px 25px 16px 25px; *//*
        text-decoration: none;
        margin: 2.583vw 0px;
    }
    
    body {
        background-color: #042f4b;
        margin: 0;
    }
    
    .btn:hover {
        background: #232931;
        text-decoration: none;
    }
    
    .popup{
        width: 32.289vw;
        background:#232931;
        border-radius: 0.484vw;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%,-50%) scale(0.1);
        text-align: center;
        padding: 0 2.422vw 2.422vw;
        color:darkgreen;
        visibility: hidden;
        transition: transform 0.4s, top 0.4s;
    }
    .open-popup{
        visibility: visible;
        top: 50%;
        transform: translate(-50%,-50%) scale(1);
        width: 80%;
        height: 90%;
    }
    h2{
        font-size: 10.333vw;
        margin-bottom: 0;
    }
    
    .name {
        display : inline-flex;
        justify-content: center;
        align-items: center;
        gap: 0.807vw;
    }
    
    #playbtn {
        margin-bottom: 2vw;
    }
    
    .resetbtn {
        margin: 0 0;
    }
} */